<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>813766900573-ju0o9easl8tsmvkj0ksa133dp45kbejl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813766900573-ju0o9easl8tsmvkj0ksa133dp45kbejl</string>
	<key>API_KEY</key>
	<string>AIzaSyCTUM1eKJi4dqfr32xdnnMEfv5LHJS2sPY</string>
	<key>GCM_SENDER_ID</key>
	<string>813766900573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.societyfortheblind.Access-News-Reader</string>
	<key>PROJECT_ID</key>
	<string>access-news-reader-c6df0</string>
	<key>STORAGE_BUCKET</key>
	<string>access-news-reader-c6df0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813766900573:ios:f53603f9f9391c6b</string>
	<key>DATABASE_URL</key>
	<string>https://access-news-reader-c6df0.firebaseio.com</string>
</dict>
</plist>